.inner-div {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 30%;
  margin-left: 20px;
}

.container {
  width: 29%;
  float: left;
}
/* body {
    overflow: hidden;
  } */

.btn-search {
  margin-top: 3%;
  width: 10%;
  padding: 0.25%;
}

#headerimage {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: fit-content;
}
